development:
  adapter: sqlite3
  name: "development.sqlite"

production:
  adapter: mysql
  host: "127.0.0.1"
  port: 3306
  username: "admin"
  password: "admin"
  name: "blogs"

test:
  adapter: sqlite3
  name: "test.sqlite"
