<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <!-- <svg
          class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg> -->
        <img src="{{ url_for('static', path='/images/brand.png') }}" alt="">
      </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2">Features</a></li>
      <li><a href="#" class="nav-link px-2">Pricing</a></li>
      <li><a href="#" class="nav-link px-2">FAQs</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>
    <div class="col-md-3 text-end">
      {% if request.state.user %}
      <div class="dropdown text-end d-inline-block">
        <a href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle" 
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <!-- User Photo -->
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="{{ url_for('profile_page') }}">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <!-- <a class="dropdown-item" href="#">Sign out</a> -->
            <form action="{{ url_for('signout_page') }}" method="post">
              <button class="dropdown-item" type="submit">Sign out</button>
            </form>
          </li>
        </ul>
      </div>
      {% else %}
      <a href="{{ url_for('signin_page') }}" type="button" class="btn btn-outline-primary me-2">Login</a>
      <a href="{{ url_for('signup_page') }}" type="button" class="btn btn-primary">Sign-up</a>
      {% endif %}
    </div>
  </header>
</div>